{% extends 'inicio.html' %}
{% load bootstrap5 %}


{% block main %}
    <h1>Fale Conosco</h1>
    <p>
        Entre em contato conosco por meio do formulário abaixou ou ligue no telefone {{ fone }},
        falando com o responsável {{ responsavel }}.
    </p>

    {% if sucesso %}
        <p class="alert alert-success"> Sua mensagem foi enviada com sucesso! </p>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}

            {% bootstrap_form formulario %}

            <button type="submit" class="btn btn-primary"> Enviar </button>
        </form>
    {% endif %}

    
{% endblock main %}   